@import url('commons.css');

* {
    box-sizing: border-box;
    font-size: 16px;
}



body {
    min-height: 100dvh;
    background: #ddd0cd;
}

a {
    text-decoration: none;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

/* header */
.header{
    width: 100%;
    margin: 0 auto;
    height: 100px;
    display: flex;
    align-items: center;
}
.header__left{
    display: flex;
    flex: 1;
}
.header__logo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
}
.header__nav{
    display: flex;
    justify-content: flex-end;
    flex: 1;
    padding-right: 50px;
}

.header__icons img{
    width: 24px;
    height: 24px;
}
.hero {
    width: 100%;
    height: 100vh;
}
.hero__inner{
    width: 100%;
    display: flex;
    gap: 80px;
}
.hero__visual{
    display: flex;
    width: 50%;
    justify-content: flex-end;
    padding: 100px 50px;
    
}
.hero__image{
    max-width: 500px;
    transform: translateX(30%);
    
}
.hero__content{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}

.hero__button {
    font-size: 1.5rem;
    font-weight: 500;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-left: 100px;
    padding: 16px 24px;
    background: #FFDFBF;
    color: #381F16;
    border-radius: 999px;
    width: 150px;
    position: relative;
    overflow: hidden;
}

.hero__button:hover{
    color: #fff;
}
.hero__button span{
    position: relative;
    z-index: 2;
}

.hero__button::before {
    content: '';
    position: absolute;
    inset: 0;
    background: #381F16;
    transform: translateX(-100%);
    transition: 0.3s;
}

.hero__button:hover::before {
    transform: translateX(0);
}

.hero__desc{
    max-width: 400px;
    font-size: 2rem;
    font-family: 'pretendard';
    font-weight: 500;
    color: #272727;
    line-height: 1.5;
    transform: translateX(5%);
}
.hero__title{
    font-family: 'Nanum Myeongjo';
    font-size: 4rem;
    color: #926A55;
    font-weight: 800;
}

@media (max-width: 768px) {
    .header__nav{
        padding-right: 0;
    }
    .hero__inner {
        flex-direction: column;
        text-align: center;
        gap: 20px;
    }

    .hero__visual,
    .hero__content {
        width: 100%;
    }

    .hero__image,
    .hero__button,
    .hero__desc {
        transform: none;
        margin: 0 auto;
    }

    .hero__content {
        align-items: center;
    }
    .hero__button{
        order: 2;
    }

    .hero__desc {
        font-size: 2rem;
        font-weight: 400;
        order: 1;
    }

    .hero__title {
        font-size: 3rem;
        order: 3;
    }
    
}